//Principale color
$color-principal:#90242D;
$color-input-text:#808080;
$color-input-border:#CCCCCC;
$color-white:#ffffff;
$color-btn-border:#0b0e07;
$color-btn-hover:#9B3A42;
$color-border-table:#D9D9D9;
$color-font-table:#4D4D4D;
$radius:5px;

$color-sucess:#90242D;
$color-alert:#90242D;
$padding-text:#90242D;